.container {
  margin: 16px;
}
.section-container {
  margin: 32px 16px 40px;
}

.section-container-we-bake {
  margin: 32px 16px 0;
}
.section-container-about-us {
  position: relative;

  margin: 72px 16px;
}

.container-footer {
  background-color: $c-black;
}
