@import 'utils';
@import 'reset';
@import 'fonts';
@import './blocks/header/header';
@import './blocks/hero-section/hero-section';
@import './blocks/we-bake/we-bake';
@import './blocks/about-us/about-us';
@import './blocks/footer/footer';

body {
  background: $c-light-pink;
}

body.light-theme {
  background-color: $c-light-blue;

  .mobile-menu {
    background-color: $c-light-blue;
  }

  h1,
  h2:not(.footer__subtitle) {
    color: $c-black;
  }

  .big-text {
    color: $c-black;
  }
}
