*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;

  overflow-wrap: break-word;
}

a {
  display: block;

  color: inherit;
  text-decoration: none;
}

ul,
ol {
  display: block;

  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  display: block;

  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

button {
  display: block;

  cursor: pointer;
}

textarea {
  display: block;

  resize: vertical;
}

table {
  display: block;

  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none !important;
}
