.about-us {
  &__title {
    @extend %h2-mobile;

    text-align: left;
    margin-bottom: 32px;
  }

  &__text {
    @extend %body-text;

    margin-bottom: 64px;
  }
}

.results {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
  }

  &__item {
  }

  &__crumbs-image {
    position: absolute;
    top: 53%;
    left: -14px;
    width: 320px;
    height: 300px;
    z-index: -1;
  }
}

.item {
  &__num {
    @extend %big-text;
  }

  &__name {
    @extend %body-text;
  }
}
