.header-container {
  padding: 16px 20px 16px 16px;
}

.header {
  position: relative;
  z-index: 102;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burger-menu {
    display: block;
    width: 24px;
    height: 24px;

    background-color: $c-black;
    mask-image: url('/src//images/icons/Icon-menu.svg');

    mask-repeat: no-repeat;
    mask-size: contain;

    &:hover {
      background-color: $c-accent-orange;
    }
    &--open {
      mask-image: url('/src//images/icons/Icon-close.svg');
    }
  }
}

.logo-btn {
  @extend %logo;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: $c-light-pink;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  &__list {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  &--open {
    opacity: 1;
    visibility: visible;
  }
}

.menu-item {
}

.link {
  @extend %link;
  &__btn {
    &-icon-contact-us {
      mask-image: url('/src//images/icons/Icon-phone.svg');
    }
  }

  &__text {
  }
}
.menu-link,
.menu-link-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
