.we-bake-container {
  padding: 32px 16px 0;

  @include tablet {
    padding: 0 44px;
  }
}

.we-bake {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    @extend %h2-mobile;

    text-align: left;
  }

  &__text {
    @extend %body-text;
  }

  @include tablet {
    &__title {
      font-size: 56px;
    }
  }
}

.link {
  &__btn {
    &-icon-order {
      mask-image: url('/src//images/icons/Icon-arrow.svg');
    }
  }
}

.product-card-wrapper {
  margin-top: 56px;

  display: grid;
  row-gap: 56px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;

    gap: 80px 24px;
  }
}

.product-card {
  width: 288px;

  &__image {
    width: 288px;
    height: 356px;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  &__name {
    @extend %text-uppercase;

    color: $c-grey;
    margin-bottom: 8px;
  }

  &__text {
    @extend %body-text;

    margin-bottom: 16px;
  }

  @include tablet {
    width: 328px;
    &__image {
      width: 328px;
      height: 424px;
    }
  }
}
